/*Behavior*/

/* When stacked in columns add a margin to the last */
/* row so it can scroll above the footer */
@media (max-width: 992px){
    .filter-footer-margin{
        margin-bottom: 35px !important;
    }
}

/*Style*/
.project-filter-container{
    /*position: absolute;*/
    /*width: calc(100% - 2px) !important;*/
    /*padding-top: 6px;*/
    /*padding-left: 2px;*/

    position: absolute;
    width: calc(100% - 4px) !important;
}

/*TODO: Add swipe with feedback to */
/*implement this for mobile*/
.projectFilterLabel{
    font-family: arial;
    font-size: 12px;
    text-align: left;
    color: gray;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 50px;
    width: 100%;
    height: 20px;
}

.projectFilterValueLabel{
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    color: dimgray;
    padding-right: 5px;
    padding-bottom: 2px;
    width: 100%;
    height: 20px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.projectFilterRowSeparator{
    border-bottom:
    1px solid #f1f1f1;
}

.projectFilterTabStrip{
    position: absolute;
    bottom: 0;
    height: 250px;
    width: 100%;
    background-color: transparent;
    border: none;
}

/************************************************************/
/* Filters Flag
/************************************************************/

.filters-flag {
    position: relative;
}
.filters-flag > i {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    line-height: 0;
    border: 25px solid #d90202;
    border-right: 25px solid transparent;
    left: 0px;
    top: 0px;
}

@media (max-height: 800px){
    .projectFilterTabStrip{
        top: 300px !important;
    }
}
/************************************************************/
/* Buttons
/************************************************************/


.panel-btn-selected {
    color: #1075b6 !important;
    background-color:#FFFFFF !important;
    border-color: #1075b6 !important;
    border-radius: 0 !important;
}

.panel-btn-selected:hover{
    color: #FFFFFF !important;
    background-color: #9cadb9 !important;
    border-color: transparent !important;
    /*border: none;*/
}

.panel-btn-unselected {
    color:#1075b6 !important;
    background-color: #dff0fc !important;
    border-color: #1075b6 !important;
    border-radius: 0 !important;
}

.panel-btn-unselected:hover {
    color: #FFFFFF !important;
    background-color: #9cadb9 !important;
    border-color: transparent !important;
    /*border: none;*/
}