/*Behavior*/
@media (max-width: 768px) {

}


/* When stacked in columns add a margin to the last */
/* row so it can scroll above the footer */
@media (max-width: 992px){

}

/*Style*/
.projectSummaryContainer {
    display: table;
    width: 100%;
    height: 130px;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    margin-bottom: 5px;
}

.projectSummaryContent {
    display: table-cell;
    height: 100%;
}

.projectSummaryInfo {
    background-color: #eee;
    border: 1px solid green;
    width: 100%;
}

.projectSummaryMapContainer {
    position: relative;
    height: 100%;
}

.projectSummaryMap{
    position: relative;
    height: 100%;
    width: 100%;
}

.projectSummaryProjectName{
    height: 30px;
}

.projectSummaryProjectDescription{
    overflow-y: auto;
    white-space:normal;
    width:100%;
    height:calc(100% - 34px);
    display:inline-block;
}

.projectEarnedValueMapContainer {
    position: relative;
    height: 100%;
}

.projectEarnedValueMap{
    position: relative;
    height: 100%;
    width: 100%;
}



/* custom inclusion of right, left and below tabs */
/*http://www.bootply.com/74926*/
.tab-content{
    position: relative;
    display: inline-block;
    height: calc(100% - 4px);
    width: 100%;
    margin-bottom: 2px;
    margin-top: 2px;
}

/*.tab-content:hover{*/
    /*border: solid 1px darkorange;*/
/*}*/

.tab-summary-content{
    position: relative;
    display: inline-block;
    height: calc(100% - 4px);
    width: 100%;
    overflow: hidden;
    border: solid 1px #ddd;
    margin-bottom: 2px;
    margin-top: 2px;
}

.tabbable{
    margin-top: 2px;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
    border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: none;
}

.tab-content > .active,
.pill-content > .active {
    display: block;
}

.tabs-below > .nav-tabs {
    border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
    border-top-color: #ddd;
    border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
    border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
    float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
    min-width: 42px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
    float: left;
    margin-right: 0px;
    border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
    border-color: #ddd transparent #ddd #ddd;
    *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
    float: left;
    margin-left: -10px;
    border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
    border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
    border-color: #ddd #ddd #ddd transparent;
    *border-left-color: #ffffff;
}
