.navbar{
    min-height: 30px !important;
}

.nav-container{
    border-bottom: 2px solid rgba(211,211,211, 0.7);
    border-top: 2px solid white;
    height: 36px;
}

.navbar-header{
    height: 32px !important;
    /*background-color: pink;*/
}

.navbar-collapse{
    /* Cannot specify height as this
       defines the dropdown for the menu */
    /*height: 26px !important;*/
    background-color: rgba(48,48,48, 0.8);
}

.navbar-default .navbar-nav > li > a {
    color: #f5f5f5 !important;
}

.navbar-default .navbar-nav > li:hover {
    background-color: rgba(211,211,211, 0.1);
    color: #f5f5f5 !important;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #f5f5f5 !important;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #f5f5f5 !important;
}

.current_page_item {
    background-color: rgba(211,211,211, 0.1);
    border-bottom: 2px solid #0000ff !important;
    color: #ffffff !important;
}

.current_sub_page_item {
    background-color: rgba(211,211,211, 0.5);
}

.current_page_item_text {
    color: #ffffff !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent !important;
    color: #ffffff !important;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: transparent !important;
    border-color: transparent !important;
}

.navbar-default{
    background-color: rgba(48,48,48, 0.8);
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 10px !important;
    padding: 5px 5px 5px 5px !important;
    margin-top: 5px !important;
    margin-bottom: 0px !important;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle:focus {
    outline: none;
}

.navbar-toggle:hover {
    background-color: rgba(211,211,211, 0.3) !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 2px;
}



@media (min-width: 768px) {

    .nav-container{
        border-bottom: 2px solid rgba(211,211,211, 0.7);
        border-top: 2px solid white;
        height: 36px;
        margin-left: -2px !important;
    }

    .navbar-collapse{
        background: none !important;
    }

    .navbar-collapse.collapse {
        display: block !important;
        height: 32px !important;
        padding-bottom: 0;
        overflow: visible !important;
        /*border-bottom: 2px solid #0000ff;*/
    }

    .navbar-nav > li {
        padding-top: 6px;
        height: 34px;
        /*border-bottom: 2px solid rgba(211,211,211, 0.7);*/
    }

    /*.navbar-nav > li:hover {*/
        /*border-bottom: 2px solid #0000ff;*/
    /*}*/

    .navbar-nav > li > a {
        padding-top: 0px;
        padding-bottom: 0px;
    }


}
