.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-numeric-wrap, .k-grouping-header, .k-pager-wrap, .k-textbox, .k-button, .k-progressbar, .k-draghandle, .k-autocomplete, .k-state-highlight, .k-tabstrip-items .k-item, .km-pane-wrapper>.km-pane>.km-view>.km-content{
    background-image: none !important;
}

.k-state-selected2{
     background-color: #2a5db2 !important;
     border-color: #2a5db2 !important;
     background-image: none !important;
 }

.k-state-selected{
    background-color: rgba(42, 93, 178, 0.36) !important;
    border-color: rgba(42, 93, 178, 0.36) !important;
    background-image: none !important;
}

.k-state-selected-norm{
    background-color: #2a5db2;
    border-color: #2a5db2;
    color: #ffffff;
    background-image: none;
}

.k-state-selected-alt{
    background-color: #000000 !important;
    border-color: #000000;
    color: #ffffff;
    background-image: none !important;
}

.k-state-focused{
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.k-state-hover{
    background-color: #6f91a5 !important;
    color: #ffffff !important;
    background-image: none !important;
}

.k-tree-footer-td{
    border-style: solid;
    border-width: 0 0 0 1px;
    padding: .4em .6em;
    overflow: hidden;
    line-height: 1.6em;
    vertical-align: middle;
    text-overflow: ellipsis;
    text-align: right;
}

/************************************************************/
/* Dropdown Treeview
/************************************************************/

/* Tree Node */
.k-tree-node{

}

/* Tree Node with Hint Style i.e. not selected or hovered just a hint prompted by WBSPathHintView */
.k-tree-node-hint{
    border: solid 2px #2b2b2b !important;
    background-color: #d3d3d3;
    border-radius: 3px;
    padding: 2px;
}

.k-enabled-node{
    color: #0000ff;
}

.k-disabled-node{

    color: #000000;
    border-style: none !important;
}