#main-menu {
    float:left;
    margin:0px;
    padding:0px;
    position:relative;
    border: none;
    z-index:100;
}

#main-menu ul
{
    loat:left;
    margin:0px 0px -5px;
    padding:0px;
}

#main-menu ul li
{
    /*border-bottom:4px solid #0000ff;*/
    border-right: 1px solid #768099;
    /*border-left: 1px solid #ff0000;*/
    /*border-top: 1px solid #4d4c4c;*/
    margin:0px;
    padding:4px 0px;
    display:inline;
    float:left;
    position:relative;
}

#main-menu ul li a
{
    display:block;
    /*Spacing Between Items*/
    padding:0px 20px;
    font-size:12px;
    font-weight:bold;
    color: #ffffff;
    text-transform:uppercase;
    /*transition: background 1s, color 1s, padding 0.5s, margin 0.5s;*/
    /*-moz-transition: background 1s, color 1s, padding 0.5s, margin 0.5s;*/
    /*-webkit-transition: background 1s, color 1s, padding 0.5s, margin 0.5s;*/
    /*-o-transition: background 1s, color 1s, padding 0.5s, margin 0.5s;*/
}

#main-menu ul li span {
    display:none;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
    /*border-top:6px solid #ffffff;*/
    border-top: 4px solid rgba(255,255,255,0.8);
    left:0; *left:48%;
    right:0;
    width:0;
    margin:auto;
    top:0;
    position:absolute;
}

#main-menu > ul > li.current_page_item span
{
    display:block;

}
#main-menu > ul > li:hover > a, #main-menu > ul > li.current_page_item > a
{
    padding:4px 20px;
    /*background:#0000ff;*/
    border-bottom:4px solid darkorange;
    position:relative;
    margin:-4px 0px;
    /*transition: background 1s, padding 0.5s, margin 0.5s;*/
    /*-moz-transition: background 1s, padding 0.5s, margin 0.5s;*/
    /*-webkit-transition: background 1s, padding 0.5s, margin 0.5s;*/
    /*-o-transition: background 1s, padding 0.5s, margin 0.5s;*/
}

.banner{
    background-color: #ffffff !important;
    position: relative;
    left: 0;
    top: 0;
}

.navbar{
    margin-bottom: 0px !important;
}

.navbar-default{
    background-color: transparent;
    background-image: none;

}

.navbar-no-banner{
    margin-bottom: 0px !important;
}

.navbar-fixed-top{
    border: none !important;
}

.navbar-fixed-bottom{
    border: none;
    margin-bottom: -1px !important;
}

.navbar-container{
    margin-top: 0px;
    height: 36px;
    width: 100%;
    /*border-top: 4px solid #ffffff;*/
    border-top: 4px solid rgba(255,255,255,0.8);
    background-color: #073A4B;
    /*background-color: rgba(48,48,48, 0.8);*/
    /*border-bottom: 4px solid #768099;*/
    border-bottom: 4px solid rgba(118,128,153,0.8);
}

.navbar-container-bottom{
    height: 36px;
    width: 100%;
    background-color: #4d4c4c;;
    /*background-color: rgba(48,48,48, 0.8);*/
    /*border-top: 4px solid #768099;*/
    border-top: 4px solid rgba(118,128,153,0.8);
}

@media (max-width: 768px) {

    .banner{
        display: none;
    }

    .nav{
        height: 37px;
    }

    .navbar{
        min-height: 37px;
        height: 37px;
    }

    .navbar-collapse{
        height: 36px !important;
    }

    .navbar-container{
        padding-top: 1px;
        height: 37px;
        /*border-top: 4px solid #4d4c4c;*/

    }

    #main-menu ul li span {
        margin-top: -1px;
    }

    .page-header{
        height: 0px;
        margin-bottom: 0px;
    }

    .banner-inner {
        position: absolute;
        width: 100%;
        min-height: 78px;
        background-color: #ffffff;
    }

}
