/*Behavior*/

/* JustGage title */
@media (max-width: 1080px) {
    .chartTitle {
        font-size: 12px !important;
    }
}

@media (max-width: 1080px) {
    .tile-title-text {
        /*color: blue !important;*/
        font-size: 10pt !important;
    }
}

@media (max-width: 1280px) {
    .tile-metric-label-lg-text{
        font-size: 16px !important;
    }

    .tile-metric-label-lg-text:hover{
        font-size: 18px !important;
    }
}

/* When stacked in columns add a margin to the last */
/* row so it can scroll above the footer */
@media (max-width: 992px){
    .tile-footer-margin{
        margin-bottom: 35px !important;
    }
}

/*Style*/
.tile{
    width: 100%;
    /*height: 135px;*/
    height: 190px;
    /*box-shadow: 2px 2px 2px rgba(0,0,0,1);*/
    border: 0px solid #000000;
    position: relative;
    /*overflow: hidden;*/
    padding: 0;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tile-title-text{
    /*font-weight: bold;*/
    font-size: 12pt;
    padding-top: 3px !important;
    color: rgba(255,255,255,0.9);
    background-color: #00a65a;
    /*transparent !important;*/
    height: 24px;
    text-align: center;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tile-title-text-map{
    font-weight: bold;
    font-size: 13pt;
    padding-top: -5px;
    color: rgba(255,255,255,0.8);
    height: 24px;
    text-align: left;
}

.tile-map-button-hide{
    display: none;
}

.tile-map-button-show{
    display: inline;
}

.tile-more-info-map {
    font-size: 1.25em;
    line-height: 0.75em;
    vertical-align: -15%;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    /*margin-right: 2px;*/
    margin-top: 1px;
    transition: all 0.4s ease;
    display: block;
}

.tile-info-title-text-map{
    font-weight: bold;
    font-size: 0.9em;
    color: rgba(255,255,255,0.5);
    padding-top: 1px;
    padding-right: 5px;
}

.tile-info-title-text{
    font-weight: bold;
    font-size: 0.8em;
    color: rgba(255,255,255,0.5);
    padding-top: 5px;
    padding-left: 5px;
}

.tile-info-text{
    /*font-family: "Rokkitt", "Times New Roman", serif;*/
    font-size: 0.8em;
    color: #ffffff;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 60px;
    overflow-y: auto;
    margin-top: 5px;
}

.tile-metric-label-text{
    font-size: 12px;
    font-weight: bold;
}

.tile-metric-label-sm-text{
    font-size: 12px;
}

.tile-metric-label-sm-text:hover{
    font-size: 14px !important;
}

.tile-metric-label-lg-text{
    font-size: 24px;
}

.tile-metric-label-lg-text:hover{
    font-size: 26px;
}



.tile-text-sm{
    font-size: 0.8em;
    color: #000000 !important;
}

.tile-content{
    /*width: calc(100% - 6px);*/
    height: calc(100% - 30px);
    background-color: #ffffff;
    position: relative;
    /*left: 4px;*/
    /*top: 5px;*/
    padding-bottom: 30px;
    /*border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/
}

.tile-data{
    width: 100%;
    height: 100px;
    /*padding-top: 20px;*/
    margin: 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /*border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/ }

.tile-data-orig{
    width: 100%;
    height: 78px;
    /*padding-top: 20px;*/
    margin: 0;
    background-color: #ffffff;
    position: relative;
    overflow: hidden;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
    /*border-bottom-left-radius: 15px;*/
    /*border-bottom-right-radius: 15px;*/ }


/*.tile-hover-tip{*/
    /*width: 100%;*/
    /*height: 90px;*/
    /*margin-top: 5px;*/
    /*position: relative;*/
    /*left: 0px;*/

    /*background-color: green;*/
    /*overflow: hidden;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
/*}*/

.tile-hover-tip{
    width: 100%;
    height: 25px;
    margin-top: -20px;
    position: relative;
    left: 0px;

    /*background-color: green;*/
    overflow: hidden;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*.tile-hover-tip-displayed{*/
    /*margin-top: -60px !important;*/
    /*-moz-transition: all 0.5s ease;*/
    /*-webkit-transition: all 0.5s ease;*/
    /*-o-transition: all 0.5s ease;*/
    /*transition: all 0.5s ease;*/
/*}*/

.tile-hover-tip-displayed{
    margin-top: -84px !important;
    height: 90px !important;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.tile-info-title-text:hover{
    cursor: pointer;
    cursor: hand;
}

.tile-progress{
    height: 100%;
    width: 100%;
    margin-top: -144px !important;
    position: relative;
    background-color: rgba(255,255,255,0.7);
}

.tile-progress-spinner{
    width: 30px;
    height: 30px;
    /*overflow: auto;*/
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.tile-icon{
    right: 5px;
    position: absolute;
    width: 100px;
    height: 100px;
    color: rgba(111,111,111,0.1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.tile-icon-hover{
    /*-ms-transform: rotate(90deg) !important; *//* IE 9 */
    /*-webkit-transform: rotate(90deg) !important; *//* Chrome, Safari, Opera */
    /*transform: rotate(90deg) !important;*/
    color: rgba(255,255,255,0.5);
}

.tile-icon-rotated {
    -ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}

.tile-more-info {
    font-size: 1.5em;
    line-height: 0.75em;
    vertical-align: -15%;
    -moz-transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    margin-right: 2px;
    margin-top: 2px;
    transition: all 0.4s ease;
    display: block;
}

.tile-more-info-rotated {
    transform:rotate(90deg);
    -ms-transform:rotate(90deg); /* IE 9 */
    -webkit-transform:rotate(90deg); /* Safari and Chrome */
    -o-transition: rotate(90deg);
}

.tile-more-info:hover {
    cursor: pointer;
    cursor: hand;
}

.tile-circle {
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    width: 200px;
    height: 200px;
    /*border: solid 1px #000000;*/
    /* width and height can be anything, as long as they're equal */
}

.tile-easing-all{
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/*.tile-circle {*/
    /*border-radius: 50%;*/
    /*width: 200px;*/
    /*height: 200px;*/
    /*border: solid 1px #000000;*/
    /* width and height can be anything, as long as they're equal */
/*}*/


.tile-rectangle {
    /*border-radius: 50%;*/
    /*width: 200px;*/
    /*height: 200px;*/
    border: solid 1px rgba(61, 61, 61, 0.79);
    /* width and height can be anything, as long as they're equal */
}

/*http://www.colorzilla.com/gradient-editor/*/
.tile-hover{
    background: rgb(242,226,213);
    background: -moz-radial-gradient(center, ellipse cover,  rgba(242,226,213,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,226,213,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,226,213,1) 0%,rgba(255,255,255,1) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgba(242,226,213,1) 0%,rgba(255,255,255,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgba(242,226,213,1) 0%,rgba(255,255,255,1) 100%);
    background: radial-gradient(ellipse at center,  rgba(242,226,213,1) 0%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2e2d5', endColorstr='#ffffff',GradientType=1 );
}

.tile-background-hover{
    /*background-color: rgba(204,204,204,0.3) !important;*/
    background-color: rgb(235,235,235);
}
