/************************************************************/
/* Bootstrap Overrides
/************************************************************/
.panel-heading{
    color: white !important;
    /*background-color: #4d4c4c !important;*/
    /*background-color: #57788F !important;*/

    /*background-color: #4e6878 !important;*/
    /*background-color: #466980 !important;*/
    /*background-color: #3e6b88 !important;*/
    /*background-color: #376c8f !important;*/

    /*background-color: #07588c !important;*/
    /*background-color: #0867a5 !important;*/
    /*background-color: #0976BD !important;*/
    /*background-color: #4B7101 !important;*/
    background-color: #00a65a !important;

    background-image: none !important;
    padding: 3px 3px 3px 3px;
    margin: 0;
    border-radius: 0px;
    height: 35px !important;
}


.panel-default{
    /*border-color: #57788F !important;*/
    /*border-color: #3e6b88 !important;*/
    /*border-color: #4B7101 !important;*/
    border-color:  #00a65a !important;

    border-width: 1px;
    border-radius: 0 !important;
    /*border-radius: 5px;*/
    /*box-shadow: 3px 3px 3px #888888;*/
}

.panel-esa{
    border-color:  #00a65a !important;
    border-width: 0px;
    border-radius: 0 !important;

}

.panel-body{
    margin: 0 !important;
    padding: 0 !important;
    padding-right: 0px !important;
}