
/*.project-finder-container {*/
    /*position: absolute;*/
    /*padding-top: 6px !important;*/
    /*padding-left: 2px !important;*/
    /*width: calc(100% - 2px);*/
/*}*/
/*.project-finder-description-container {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: table;*/
    /*padding: 0 10px 0 10px;*/
/*}*/
/*.project-finder-description {*/
    /*height: 100%;*/
    /*width: 100%;*/
    /*display: table-cell;*/
    /*vertical-align: middle;*/
/*}*/
.project-finder-title-container {
    height: 100%;
    width: 100%;
    display: table;
    padding: 0 10px 0 10px;
}
.project-finder-title {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: bold;
}
.project-finder-projects-within-container {
    height: 100%;
    width: 100%;
    display: table;
    /*padding: 0 10px 0 10px;*/
}
.project-finder-projects-within {
    height: 100%;
    width: 100%;
    display: table-cell;
    text-align: right;
    vertical-align: middle;
    padding: 4px 5px 0 0;
}

/************************************************************/
/* Boostrap Overrides
/************************************************************/

.input {
    padding-right: 26px !important ;
}

.input-group-btn {
    position: relative ;
}

.input-group-btn a.btn {
    position: absolute ;
    right: 36px ;
    top: 0px ;
    z-index: 500 ;
}

.input-group-btn a.btn:hover,
.input-group-btn a.btn:active {
    box-shadow: none ;
}

/************************************************************/
/* Keyword search
/************************************************************/
.keyword-search-input {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    background-color: #E3E3E3;
    background-repeat: no-repeat;
    /*background-image: url("img/magnify.png");*/
    background-size: 14px;
    border: 1px solid lightgrey;
    padding: 0;
    text-indent: 6px;
    /*font-size: 13px;*/
    line-height: normal;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    /*background-position: right center;*/
    background-position: 98% 50%;
    cursor: pointer;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.keyword-search {
    width: 26px;
    height: 26px;
    -webkit-transition: width .175s ease-in;
    -moz-transition: width .175s ease-in;
    -ms-transition: width .175s ease-in;
    -o-transition: width .175s ease-in;
    transition: width .175s ease-in;
}
.keyword-search-expanded,
.leaflet-touch .keyword-search-expanded {
    width: 275px;
}
.keyword-search-input.keyword-search-loading {
    background-image: url("img/loading.gif");
    background-size: 28px;
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .keyword-search-input {
        background-image: url("img/magnify@2x.png");
    }
    .keyword-search-input.keyword-control-loading {
        background-image: url("img/loading@2x.gif");
    }
}
.keyword-search-input:focus {
    outline: none;
    cursor: text;
}
.keyword-search-input::-ms-clear {
    display: none;
}
.keyword-search-suggestions {
    width: 100%;
    position: absolute;
    top: 26px;
    left: 0;
    margin-top: 10px;
    overflow: hidden;
    display: none;
    border: 1px solid #3E6B88;
    border-radius: 4px;
}
.keyword-search-list + .keyword-search-header {
    border-top: 1px solid #d5d5d5;
}
.keyword-search-header {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #444;
    background: #F2F2F2;
    border-bottom: 1px solid #d5d5d5;
    display: inline-block;
    padding: .5em;
    width: 100%;
}
.keyword-search-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.keyword-search-suggestions .keyword-search-suggestion {
    /*font-size: 13px;*/
    padding: 7px;
    /*background: white;*/
    background: #E3E3E3;
    /*border-top: 1px solid #f1f1f1;*/
    border-top: 1px solid #3E6B88;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.keyword-search-suggestions .keyword-search-suggestion:first-child {
    border: none;
}
.keyword-search-suggestions .keyword-search-suggestion.keyword-search-selected,
.keyword-search-suggestions .keyword-search-suggestion:hover {
    /*background: #7FDFFF;*/
    /*border-color: #7FDFFF;*/
    background: #6f91a5;
    border-color: #6f91a5;
    color: #ffffff;
}
/* styles when positioned on right */

.leaflet-right .keyword-search-suggestions {
    left: auto;
    right: 0;
}
.leaflet-right .keyword-search-input {
    left: auto;
    right: 0;
}
/* styles when on a touch device */
.leaflet-touch .keyword-search {
    width: 30px;
    height: 30px;
}

.leaflet-touch .keyword-search.keyword-search-expanded {
    width: 275px;
}
.leaflet-touch .keyword-search-input {
    height: 30px;
    line-height: 30px;
    background-size: 30px;
}
.leaflet-touch .keyword-search-suggestions {
    top: 30px;
}
/* styles when browser is old and busted */
.leaflet-oldie .keyword-search-input {
    width: 28px;
    height: 28px;
}
.leaflet-oldie .keyword-search-expanded .keyword-search-input {
    width: auto;
}
.leaflet-oldie .keyword-search-input,
.leaflet-oldie .keyword-search-suggestions {
    border: 1px solid #999;
}

/************************************************************/
/* Address search
/************************************************************/
.address-search-input {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0;*/
    background-color: #E3E3E3;
    background-repeat: no-repeat;
    /*background-image: url("img/magnify.png");*/
    background-size: 14px;
    border: 1px solid lightgrey;
    padding: 0;
    text-indent: 6px;
    /*font-size: 13px;*/
    line-height: normal;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    /*background-position: right center;*/
    background-position: 98% 50%;
    cursor: pointer;
    box-sizing: border-box;
    text-overflow: ellipsis;
}
.address-search {
    width: 26px;
    height: 26px;
    -webkit-transition: width .175s ease-in;
    -moz-transition: width .175s ease-in;
    -ms-transition: width .175s ease-in;
    -o-transition: width .175s ease-in;
    transition: width .175s ease-in;
}
.address-search-expanded,
.leaflet-touch .address-search-expanded {
    width: 275px;
}
.address-search-input.address-search-loading {
    background-image: url("img/loading.gif");
    background-size: 28px;
}
@media only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {
    .address-search-input {
        background-image: url("img/magnify@2x.png");
    }
    .address-search-input.address-search-loading {
        background-image: url("img/loading@2x.gif");
    }
}
.address-search-input:focus {
    outline: none;
    cursor: text;
}
.address-search-input::-ms-clear {
    display: none;
}
.address-search-suggestions {
    width: 100%;
    position: absolute;
    top: 26px;
    left: 0;
    margin-top: 10px;
    overflow: hidden;
    display: none;
    border: 1px solid #3E6B88;
    border-radius: 4px;
}
.address-search-list + .address-search-header {
    border-top: 1px solid #d5d5d5;
}
.address-search-header {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #444;
    background: #F2F2F2;
    border-bottom: 1px solid #d5d5d5;
    display: inline-block;
    padding: .5em;
    width: 100%;
}
.address-search-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.address-search-suggestions .address-search-suggestion {
    /*font-size: 13px;*/
    padding: 7px;
    /*background: white;*/
    background: #E3E3E3;
    /*border-top: 1px solid #f1f1f1;*/
    border-top: 1px solid #3E6B88;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.address-search-suggestions .address-search-suggestion:first-child {
    border: none;
}
.address-search-suggestions .address-search-suggestion.address-search-selected,
.address-search-suggestions .address-search-suggestion:hover {
    /*background: #7FDFFF;*/
    /*border-color: #7FDFFF;*/
    background: #6f91a5;
    border-color: #6f91a5;
    color: #ffffff;
}
/* styles when positioned on right */
.leaflet-right .address-search-suggestions {
    left: auto;
    right: 0;
}
.leaflet-right .address-search-input {
    left: auto;
    right: 0;
}
/* styles when on a touch device */

.leaflet-touch .address-search {
    width: 30px;
    height: 30px;
}
.leaflet-touch .address-search.address-search-expanded {
    width: 275px;
}
.leaflet-touch .address-search-input {
    height: 30px;
    line-height: 30px;
    background-size: 30px;
}
.leaflet-touch .address-search-suggestions {
    top: 30px;
}
/* styles when browser is old and busted */
.leaflet-oldie .address-search-input {
    width: 28px;
    height: 28px;
}
.leaflet-oldie .address-search-expanded .address-search-input {
    width: auto;
}
.leaflet-oldie .address-search-input,
.leaflet-oldie .address-search-suggestions {
    border: 1px solid #999;
}
