.project-details-layout-container {
    position: absolute;
    width: calc(100% - 4px) !important;
}

.project-details-filter-panel-top{
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    height: 310px;
}

.project-details-filter-panel-btm{
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}

.project-details-panel{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    width: 100%;
}

.field-layout-container {
    position: absolute;
    width: calc(100% - 4px) !important;
}

.field-filter-panel-top{
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
    height: 310px;
}

.field-filter-panel-btm{
    margin-bottom: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    width: 100%;
}

.field-panel{
    margin-bottom: 0px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    height: 100%;
    width: 100%;
}