.project-layout-container{
    position: absolute;
    height: calc(100% - 160px) !important;
    width: 100% !important;
}

.project-grid-map-fix{

}

.projectGridWithSummary{
    height: calc(100% - 205px) !important;
}

.projectGridNoSummary{
    height: 100%;
    /*-moz-transition: height 1s ease;*/
    /*-webkit-transition: height 1s ease;*/
    /*-o-transition: height 1s ease;*/
    /*transition: height 1s ease;*/
}

.projectGridSummaryHidden{
    height: 0px !important;
    overflow: hidden;
    border: none !important;
    /*-moz-transition: height 1s ease;*/
    /*-webkit-transition: height 1s ease;*/
    /*-o-transition: height 1s ease;*/
    /*transition: height 1s ease;*/
}

.projectGridSummaryVisible{
    height: 196px !important;
    overflow: visible !important;
}

/*.fullGrid{*/
    /*height: 100% !important;*/
/*}*/

#projectGrid{
    padding: 0;
    margin: 0;
}

@media (max-width: 768px) {
    .project-grid-container{
        position: absolute;
        margin-top: -15px;
        height: calc(100% - 87px) !important;
        width: calc(100% - 10px) !important;
    }
}

/* div and test div must use same formatting (font-size, font-family, etc) */
/*http://jsfiddle.net/q4DxT/1/*/
.excision-test
{
    position:absolute;
    left:-10000em;
    width:auto;
}

/************************************************************/
/* Grid Icons
/************************************************************/

.k-grid-stack-icon{
    vertical-align: middle;
    overflow: hidden;
    padding-top: 15px;
}

.fa-stack-grid{
    font-size: 1.33333333em;
    line-height: 0.75em;
    /*vertical-align: -15%;*/
}

.fa-stack-bkgrnd{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.169999em;
    margin-top: 9px;
}

.fa-stack-icon{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 12px;
    font-size: 0.91em;
}
/*.project-details-bkgrnd-icon{*/
    /*font-size: 1.333333em;*/
    /*line-height: 0.75em;*/
    /*color: #ffffff;*/
    /*margin-top: 1px;*/
    /*margin-left: -1px;*/
    /*text-shadow: black 0.1em 0.1em 0.2em*/
/*}*/

/*.project-details-icon{*/
    /*font-size: 1.05em;*/
    /*line-height: 0.75em;*/

    /*margin-top: 2px;*/
    /*color: #787878;*/
    /*text-shadow: black 0.1em 0.1em 0.2em*/
/*}*/

.fa-stack-grid-sm {
    font-size: 1.2em;
    line-height: 0.75em;
    /*vertical-align: -15%;*/
}

.fa-stack-bkgrnd-sm {
    font-size: 1.1em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    /*margin-top: 2px;*/
}

.fa-stack-icon-sm {
    font-size: 0.8em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 2px;
}

.fa-stack-grid-sm-good {
    font-size: 1.15em;
    line-height: 0.75em;
    /*vertical-align: -15%;*/
}

.fa-stack-bkgrnd-sm-good {
    font-size: 1.15em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    /*margin-top: 2px;*/
}

.fa-stack-icon-sm-good {
    font-size: 0.8em;
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 2px;
}


/************************************************************/
/* Kendo Overides & Additions
/************************************************************/

/*Additions*/
.k-grid-td-icon{
    float:left;
    margin-top: 4px;
}

/*Overrides*/

/*Disable the default loading template so it is managed by the data source and it's successful retrieval of data */
.k-grid .k-loading-image {
    background-image: none;
}

.k-grid  .k-grid-header  .k-header  .k-link {
    height: auto;
    text-align: center;
}

.k-grid  .k-grid-header  .k-header {
    white-space: normal;
}

.k-grid td{
    overflow: hidden;
    white-space:nowrap;
    text-align: right;
    text-overflow: ellipsis;
}

/*.k-state-border-down*/
/*{*/
/*border-color: transparent !important;*/
/*}*/

.k-grid-header th a {
    overflow: hidden;
    /*color: transparent;*/
    /*white-space:nowrap;*/
    text-overflow: ellipsis;
}

.k-grid-header .k-filterable .k-link {
    padding-right: 0;
}

.k-grid-header .k-header .k-link{
    margin: 0;
    padding: 0;
}

.k-grid-alt-row{
    background-color: #f9f7f7;
}

/************************************************************/
/* Rounded tabs for Project Summary Pane
/************************************************************/
.tabrow {
    text-align: center;
    list-style: none;
    margin: 200px 0 20px;
    padding: 0;
    line-height: 24px;
    height: 26px;
    overflow: hidden;
    font-size: 12px;
    font-family: verdana;
    position: relative;
}
.tabrow li {
    border: 1px solid #AAA;
    background: #D1D1D1;
    background: -o-linear-gradient(top, #2a5db2 50%, #2a5db2 100%);
    background: -ms-linear-gradient(top, #2a5db2 50%, #2a5db2 100%);
    background: -moz-linear-gradient(top, #2a5db2 50%, #2a5db2 100%);
    background: -webkit-linear-gradient(top, #2a5db2 50%, #2a5db2 100%);
    background: linear-gradient(top, #2a5db2 50%, #2a5db2 100%);
    display: inline-block;
    position: relative;
    z-index: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4), inset 0 1px 0 #FFF;
    /*text-shadow: 0 1px #FFF;*/
    color: #ffffff;
    margin: 0 -5px;
    padding: 0 20px;
}
.tabrow li:hover {
    cursor: pointer;
    cursor: hand;
}
.tabrow a {
    color: #555;
    text-decoration: none;
}
.tabrow li.selected {
    background: #FFF;
    color: #333;
    z-index: 2;
    border-bottom-color: #FFF;
}
.tabrow li.selected:hover {
    cursor: pointer;
    cursor: hand;
}
.tabrow:before {
    position: absolute;
    content: " ";
    width: 100%;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #2a5db2;
    z-index: 1;
}
.tabrow li:before,
.tabrow li:after {
    border: 1px solid #2a5db2;
    position: absolute;
    bottom: -1px;
    width: 5px;
    height: 5px;
    content: " ";
}
.tabrow li:before {
    left: -5px;
    border-bottom-right-radius: 6px;
    border-width: 0 1px 1px 0;
    box-shadow: 2px 2px 0 #2a5db2;
}
.tabrow li:after {
    right: -5px;
    border-bottom-left-radius: 6px;
    border-width: 0 0 1px 1px;
    box-shadow: -2px 2px 0 #2a5db2;
}
.tabrow li.selected:before {
    box-shadow: 2px 2px 0 #FFF;
}
.tabrow li.selected:after {
    box-shadow: -2px 2px 0 #FFF;
}