/*
 * Skin: Black
 * -----------
 */
/*
//original colors:
@light-blue: #3c8dbc;  //Primary
@red:        #dd4b39;  //Danger
@green:      #00a65a;  //Success
@aqua:       #00c0ef;  //Info
@yellow:     #f39c12;  //Warning
@blue:       #0073b7;
@navy:       #001F3F;
@teal:       #39CCCC;
@olive:      #3D9970;
@lime:       #01FF70;
@orange:     #FF851B;
@fuchsia:    #F012BE;
@purple:     #605ca8;
@maroon:     #D81B60;
@black:      #000000;
@gray:       #999999;
*/
/* skin-black navbar */
.skin-esa .main-header {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
}
.skin-esa .main-header .navbar-toggle {
  color: #333;
}
.skin-esa .main-header .navbar-brand {
  color: #333;
  border-right: 1px solid #eee;
}
.skin-esa .main-header > .navbar {
  background-color: #797A80;
}
.skin-esa .main-header > .navbar .nav > li > a {
  color: #fff;
}
.skin-esa .main-header > .navbar .nav > li > a:hover,
.skin-esa .main-header > .navbar .nav > li > a:active,
.skin-esa .main-header > .navbar .nav > li > a:focus,
.skin-esa .main-header > .navbar .nav .open > a,
.skin-esa .main-header > .navbar .nav .open > a:hover,
.skin-esa .main-header > .navbar .nav .open > a:focus,
.skin-esa .main-header > .navbar .nav > .active > a {
  background: #797A80;
  color: #fff;
}
.skin-esa .main-header > .navbar .sidebar-toggle {
  color: #fff;
}
.skin-esa .main-header > .navbar .sidebar-toggle:hover {
  color: #fff;
  background: #797A80;
}
.skin-esa .main-header > .navbar > .sidebar-toggle {
  color: #fff;
  border-right: 1px solid #797A80;
}
.skin-esa .main-header > .navbar .navbar-nav > li > a {
  border-right: 1px solid #797A80;
}
.skin-esa .main-header > .navbar .navbar-custom-menu .navbar-nav > li > a,
.skin-esa .main-header > .navbar .navbar-right > li > a {
  border-left: 1px solid #797A80;
  border-right-width: 0;
}
.skin-esa .main-header > .logo {
  background-color: #2B2C32;
  color: #fff;
  border-bottom: 0 solid transparent;
  border-right: 1px solid #2B2C32;
}
.skin-esa .main-header > .logo:hover {
  background-color: #292a2f;
}
@media (max-width: 767px) {
  .skin-esa .main-header > .logo {
    background-color: #222;
    color: #fff;
    border-bottom: 0 solid transparent;
    border-right: none;
  }
  .skin-esa .main-header > .logo:hover {
    background-color: #1f1f1f;
  }
}
.skin-esa .main-header li.user-header {
  background-color: #2B2C32;
}
.skin-esa .content-header {
  background: transparent;
  box-shadow: none;
}
.skin-esa .wrapper,
.skin-esa .main-sidebar,
.skin-esa .left-side {
  background-color: #35373C;
}
.skin-esa .user-panel > .info,
.skin-esa .user-panel > .info > a {
  color: #fff;
}
.skin-esa .sidebar-menu > li.header {
  color: #656972;
  background: #2b2d31;
}
.skin-esa .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.skin-esa .sidebar-menu > li:hover > a,
.skin-esa .sidebar-menu > li.active > a {
  color: #fff;
  background: #303237;
  border-left-color: #fff;
}
.skin-esa .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #41434a;
}
.skin-esa .sidebar a {
  color: #cfd0d4;
}
.skin-esa .sidebar a:hover {
  text-decoration: none;
}
.skin-esa .treeview-menu > li > a {
  color: #a6a9b0;
}
.skin-esa .treeview-menu > li.active > a,
.skin-esa .treeview-menu > li > a:hover {
  color: #fff;
}
.skin-esa .sidebar-form {
  border-radius: 3px;
  border: 1px solid #4d5057;
  margin: 10px 10px;
}
.skin-esa .sidebar-form input[type="text"],
.skin-esa .sidebar-form .btn {
  box-shadow: none;
  background-color: #4d5057;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-esa .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-esa .sidebar-form input[type="text"]:focus,
.skin-esa .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-esa .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-esa .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
