@media screen and (max-width: 991px) {
    /*.navbar .navbar-brand {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }*/
   .section-images {
        height: auto !important;
        max-height: auto!important;
    } 
    .navbar-collapse .nav-button {
        margin: 0 1rem;
        color: #FFFFFF;
    }
}

p {
    font-size: 14px !important;
}
blockquote {
    font-size: 14px !important;
}

.section {
    padding: 40px 0 30px 0;
}
.section-images {
    height: auto !important;
    max-height: auto!important;    
}

.section-images .hero-images-container {
    max-width: 100% !important;
}
.section-basic {
    padding-top: 45px;
}
.section-title {
    color: #000 !important;
    border-bottom: none !important;
}
.section-ltblue {
    background-color: #DEE6ED;
}
.section-dkblue {
    background-color: #4CA4E8;
}

.text-blue {
    color: #00adee;
}
.text-white {
    color: #fff !important;
}
.text-ltblue {
    color: #139dfd;
}

.navbar-logo {
    max-height: 30px;
}
.navbar {
    padding: 0px 15px !important;
    min-height: 0px !important;
}
.brand .n-logo {
    max-width: 200px !important;
    margin-bottom: 40px;
}
.clear-filter {
    background-color: rgba(23,78,118, .7) !important;
}
.intro-logo {
    max-width: 200px !important;
    /*margin-bottom: 40px;*/
}
.intro-background {
    height: auto !important;
}
.parallax .small-info {
    text-shadow: none !important;
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff !important;
}

/* input currency form */
form {
    margin: 20px auto;
    width: 420px;
}
.form-row {
    padding: 5px 10px;
}
.form-control-lg {
    font-size: 16.5px !important;
}

label {
    display: block;
    margin: 3px 0;
}
.form-row input {
    padding: 3px 1px;
    width: 100%;
}
input.currency {
    text-align: right;
    padding-right: 15px;
}
.input-group .form-control {
    float: none;
}
.input-group .input-buttons {
    position: relative;
    z-index: 3;
}
.input-group-addon {
    background-color: #f2f2f2 !important;
}
.form-red {
    background-color: #E8B9B9 !important;
    color: #2B2B2B !important;
}
.form-blue {
    background-color: #B1D6FA !important;
    color: #2B2B2B !important;
}
.form-green {
    background-color: #D2FFCB !important;
    color: #2B2B2B !important;
}
.content-narrow {
    padding: 15px 5px 10px 5px !important;
}
.carousel-services {
    min-height: 470px !important;
    max-height: 470px !important;
}
.btn-social.btn-simple .fa {
    top: -6px;
}