<!-- Left side column. contains the logo and sidebar -->
<!--<div style="height:100%;width:100%">-->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <ul id="esaTabBar" class="sidebar-menu">
            <li class="header ">Main Menu</li>
            <!--<li class="header"><a data-toggle="collapse" href="#collapse1">Main Menu</a></li>-->
            <!--<div id="collapse1" class="collapse">-->
            <!--<li class="active"><a href="#"><i class="fa fa-gear"></i> <span>Test Page</span></a></li>-->
            <li><a href="#"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
            <li ><a href="#myTimecard"><i class="fa fa-clock-o"></i> <span>My Time Card</span>
                <!--<span class="label label-primary pull-right">2</span></a>-->
            </a></li>
            <li><a href="#calendar"><i class="fa fa-calendar"></i> <span>Calendar/Holidays</span></a></li>
            <!--<li><a href="#"><i class="fa fa-ticket"></i> <span>Support Ticket</span></a></li>-->
            <!--<li><a href="#"><i class="fa fa-file-o"></i> <span>ESA Resources</span></a></li>-->
            <!--<li><a href="#myStats"><i class="fa fa-gear"></i> <span>My Stats</span></a></li>-->
            <!--</div>-->

            <li class="header manager">Manager Menu</li>
            <!--<li><a href="#"><i class="fa fa-fire"></i> <span>Hot List</span></a></li>-->
            <li class="manager"><a href="#views"><i class="fa fa-eye"></i><span>Views</span></a></li>
            <li class="manager"><a href="#clientReports"><i class="fa fa-user"></i><span>Client Reports</span></a></li>
            <li class="manager"><a href="#companies"><i class="fa fa-building"></i> <span>Companies</span></a></li>
            <li class="manager"><a href="#plans"><i class="fa fa-map-marker"></i> <span>Plans</span></a></li>
            <li class="manager"><a href="#employees"><i class="fa fa-users"></i> <span>Employees</span></a></li>
            <li class="manager"><a href="#statsTimecard"><i class="fa fa-clock-o"></i> <span>Stats Time Card</span></a></li>

            <li class="header executive">Executive Menu</li>
            <li class="executive"><a href="#addNewClient"><i class="fa fa-plus"></i> <span>Add New Client</span></a></li>
            <li class="executive"><a href="#addNewEmployee"><i class="fa fa-plus"></i> <span>Add New Employee</span></a></li>
            <li class="executive"><a href="#payrollProcessing"><i class="fa fa-money"></i> <span>Payroll Processing</span></a></li>
            <li class="executive"><a href="#users"><i class="fa fa-user"></i> <span>Users</span></a></li>
            <li class="executive"><a href="#vendors"><i class="fa fa-briefcase"></i> <span>Vendors</span></a></li>
            <li class="executive"><a href="#values"><i class="fa fa-star"></i> <span>Values</span></a></li>
            <li class="executive"><a href="#tipsTricks"><i class="fa fa-magic"></i> <span>Tips & Tricks</span></a></li>
            <li class="executive"><a href="#messages"><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>
            <!--<li><a href="#"><i class="fa fa-remove"></i> <span>Duplicate Stats</span></a></li>-->
            <li class="executive"><a href="#openTimers"><i class="fa fa-clock-o"></i> <span>Open Timers Prior to Today</span></a></li>
            <!--<li class="executive"><a href="#taskBreakdown"><i class="fa fa-tasks"></i> <span>Task Breakdown Reports</span></a></li>-->
            <li class="executive"><a href="#detailsAdmin"><i class="fa fa-gear"></i> <span>Dashboard Details Admin</span></a></li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
<!--</div>-->
