<div id="error-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer-fs">
        <div class="middle">
            <div class="inner-fs">
                <img class="app-image" src="./images/ESA-only-Logo-Black-2.png"/>
                <div style="text-align: center;margin-top:20px">
                    <i class="fa fa-exclamation-circle fa-2x" style="color: red"></i> There was an error loading the application. Please check your network connection and try again.
                </div>
            </div>
        </div>
    </div>
</div>