<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 2.0.0
    </div>
    <strong>Copyright © 2017 <a href="http://esasolutions.net">ESA</a>.</strong> All rights reserved.
</footer>