<nav class="navbar navbar-inverse navbar-transparent navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#" rel="tooltip"
               title="SimpleListing.com - A Better Approach to Real Estate Transactions">
                <img width="auto" src="./images/sl_logo_small.png" class="img-responsive navbar-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="aboutLink" href="#about" title="Learn more about SimpleListing.com">About</a></li>
                <li><a id="calculatorLink" href="#calculator" title="See how much you can save with the Savings Calculator"> Calculator</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Homes<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li><a href="http://www.corymeyer.com/idx"><i class="pe-7s-home"></i> Chico</a></li>
                        <li><a href="http://www.corymeyer.com/idx/bareis/"><i class="pe-7s-home"></i> Sonoma/Napa</a></li>
                        <li><a href="http://www.corymeyer.com/idx/sarca/"><i class="pe-7s-home"></i> Redding</a></li>
                        <li><a href="http://www.corymeyer.com/idx/metrolistca/"><i class="pe-7s-home"></i> Sacramento</a></li>
                        <li><a href="http://www.corymeyer.com/idx/tcaor/"><i class="pe-7s-home"></i> Tehema</a></li>
                    </ul>
                </li>-->
                <li><a class="sign-me-up btn btn-block btn-fill btn-info">Schedule a Consultation</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

