<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button id="menu-toggle" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar bar1"></span>
                <span class="icon-bar bar2"></span>
                <span class="icon-bar bar3"></span>
            </button>
            <a class="navbar-brand" href="#" rel="tooltip"
               title="SimpleListing.com - A Better Approach to Real Estate Transactions">
                <img width="auto" src="./images/sl_logo_small.png" class="img-responsive navbar-logo">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#about" title="Learn more about SimpleListing.com">About</a></li>
                <li><a href="#calculator" title="See how much you can save with the Savings Calculator"> Calculator</a></li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search Homes<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu dropdown-with-icons">-->
                        <!--<li><a href="http://www.corymeyer.com/idx">Chico</a></li>-->
                        <!--<li><a href="http://www.corymeyer.com/idx/bareis/">Sonoma/Napa</a></li>-->
                        <!--<li><a href="http://www.corymeyer.com/idx/sarca/">Redding</a></li>-->
                        <!--<li><a href="http://www.corymeyer.com/idx/metrolistca/">Sacramento</a></li>-->
                        <!--<li><a href="http://www.corymeyer.com/idx/tcaor/">Tehema</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources<b class="caret"></b></a>
                    <ul class="dropdown-menu dropdown-with-icons">
                        <li><a href="#calculator"><i class="pe-7s-comment"></i> Savings Calculator</a></li>
                        <li><a href="#"><i class="pe-7s-news-paper"></i> Tips</a></li>
                    </ul>
                </li>-->
                <li><a class="sign-me-up btn btn-block btn-fill btn-info">Schedule a Consultation</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>

