<div id="modal-region" style="position: absolute; width: 100%; height: 100%">
    <div class="outer">
        <div class="middle">
            <div class="inner-sl">
                <div id="sellerLoading"></div>
                <!--<ul class="nav nav-tabs" id="tab1" style="margin: 4px;">-->
                <!--<li id="liBasic" class="li-tab active"><a data-toggle="tab" href="#basicInfo">Basic Info</a></li>-->
                <!--<li id="liAdvanced" class="li-tab"><a data-toggle="tab" href="#advancedInfo">More Details</a></li>-->
                <!--</ul>-->

                <!--<div class="row">-->
                <div style="height:100%;">
                    <!--class="box box-default"-->
                    <div class="box-header with-border" style="margin-bottom: 25px;">
                        <div class="box-tools pull-right">
                            <button id="CloseButton" class="btn btn-box-tool" data-widget="remove" style="padding:0 !important; border-color: white"><i
                                    class="fa fa-times"></i></button>
                        </div>
                        <h4 class="box-title" style="padding-right:20px">Enter your contact information and a <strong>Simple<span class="text-blue">Listing</span>.com</strong> representative will contact you
                            to schedule a consultation.
                        </h4>

                    </div>
                    <div class="box-body">
                        <!--tab-content-->
                        <!--style="height:230px"-->
                        <!--<div class="tab-pane fade in active" id="basicInfo" style="margin-top: 10px">-->
                        <div class="row"></div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none">
                            <div class="k-edit-label"><label>First Name</label></div>
                            <div data-container-for="firstName" class="k-edit-field">
                                <input id="firstName" type="text" class="k-input k-textbox">
                            </div>

                            <div class="k-edit-label"><label>Last Name</label></div>
                            <div data-container-for="lastName" class="k-edit-field">
                                <input id="lastName" type="text" class="k-input k-textbox">
                            </div>

                            <div class="k-edit-label"><label>Phone</label></div>
                            <div data-container-for="phone" class="k-edit-field">
                                <input id="phone" type="text" class="k-input k-textbox">
                            </div>

                            <div class="k-edit-label"><label>Email</label></div>
                            <div data-container-for="email" class="k-edit-field">
                                <input id="email" type="text" class="k-input k-textbox">
                            </div>

                            <!--<div class="k-edit-label"><label>Company</label></div>-->
                            <!--<div data-container-for="company" class="k-edit-field">-->
                            <!--<input id="company" type="text" class="k-input k-textbox">-->
                            <!--</div>-->

                            <!--<div class="k-edit-label"><label for="termDate">Term Date</label></div>-->
                            <!--<div data-container-for="termDate" class="k-edit-field">-->
                            <!--<input type="text" id="termDate" data-type="date" data-bind="value:termDate"-->
                            <!--data-role="datepicker" class="k-input" role="combobox">-->
                            <!--</div>-->
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 p-none">

                            <div class="k-edit-label"><label>Street</label></div>
                            <div class="k-edit-field">
                                <input id="street" type="text" class="k-input k-textbox">
                            </div>

                            <div class="k-edit-label"><label>City</label></div>
                            <div class="k-edit-field">
                                <input id="city" type="text" class="k-input k-textbox">
                            </div>

                            <div class="k-edit-label"><label>State</label></div>
                            <div class="k-edit-field">
                                <input id="state">
                            </div>

                            <div class="k-edit-label"><label>Zip</label></div>
                            <div class="k-edit-field">
                                <input id="zip" type="text" class="k-input k-textbox">
                            </div>

                            <!--<div class="k-edit-label"><label for="additionalInfo">Additional Information</label></div>-->
                            <!--<div data-container-for="additionalInfo" class="k-edit-field">-->
                            <!--<textarea id="additionalInfo" type="text" class="k-input k-textbox"></textarea>-->
                            <!--</div>-->

                        </div>
                        <!--</div>-->
                        <!--<div class="tab-pane fade in" id="advancedInfo" style="margin-top: 10px">-->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-none">-->

                        <!--<div class="k-edit-label"><label>Other</label></div>-->
                        <!--<div class="k-edit-field">-->
                        <!--<input id="additionalInfo" type="text" class="k-input k-textbox">-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p-none">-->
                        <!--<div class="k-edit-label"><label>Other 2</label></div>-->
                        <!--<div class="k-edit-field">-->
                        <!--<input id="additionalInfo2" type="text" class="k-input k-textbox">-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--</div>-->
                    </div>
                    <div class="small-info container-fluid"
                         style="padding-right: 33px !important;padding-left: 33px !important;text-align: right;">
                        <div class="row" style="text-align: left">
                            <div id="sellerWarning" class="alert-warning " role="alert"
                                 style="display: block; float:inherit;">
                            </div>
                            <div id="sellerSuccess" class="alert-success " role="alert"
                                 style="display: block; float:inherit;"></div>
                            <div id="sellerError" class="alert-danger " role="alert"
                                 style="display: block; float:inherit;"></div>
                        </div>
                        <div class="row" id="AllButtons" style="text-align: center;margin-bottom: 10px;">
                            <a id="SaveButton" class="btn btn-primary nav-button" type="button" style="width:200px;">Schedule
                                Consultation</a>
                            <!--<a data-toggle="tab" href="#advancedInfo" id="NextButton"  class="btn btn-default nav-button" type="button" style="width:200px">Enter More Information</a>-->
                            <a id="CloseButton2" class="btn btn-default nav-button" type="button" style="width:125px;margin-bottom:5px">Sounds good!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


